<!doctype html>
<html lang="ru">
  <head>
    <title>"Библиотека книг о фантастике"</title>
    <link rel="icon" type="image/png" href="/static/lg.png" sizes="62x62">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination" style="margin-top:20px;">
          {% if page_number == 1 %}
            <li class="page-item disabled"><span class="page-link">Назад</span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{page_number - 1}}.html">Назад</a></li>
          {% endif %}
          {% for num in range(1, pages_count + 1) %}
            {% if num == page_number %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="index{{num}}.html">{{num}}</a>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{num}}.html">{{num}}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_number == pages_count %}
            <li class="page-item disabled"><span class="page-link">Вперёд</span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{page_number + 1}}.html">Вперёд</a></li>
          {% endif %}
        </ul>
      </nav>
      <div class="row">
        {% for pair_of_books in book_set %}
          {% for book in pair_of_books %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    {% if book.img_scr %}
                      <img src="/{{ book.img_scr | replace('\\','/') }}" class="card-img" alt="{{book.author}} :: {{book.title}}">
                    {% else %}
                      <img src="/static/nopic.gif" class="card-img" alt="{{book.author}} :: {{book.title}}">
                    {% endif %}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="book-title">{{book.title}}</h5>
                      <p class="card-text">{{book.author}}</p>
                      <p>
                        {% for genre in book.genres[:3] %}
                          <span class="badge badge-light">{{genre}}</span>
                        {% endfor %}
                      </p>
                      <a href="/{{book.book_path | replace('\\','/') | replace(' ','%20') }}" target="_blank">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="w-100"></div>
        {% endfor %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>